<!-- 
Goldsmiths University of London
Author....: Carlos Manuel de Oliveira Alves
Student...: cdeol003
Created...: 22/12/2022
-->
<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <html >
    <head>
      <title>Document</title>
    </head>
    <body bgcolor="PeachPuff">
      <nav>
        <ul>
          <li><a href='./'>Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="login">Log In</a></li>
          <li><a href="addFood">Add Food</a></li>
          <li><a href="searchFood">Search Food</a></li>
          <li><a href="updateFood-Search">Update Food</a></li>
          <li><a href="foodList">Food List</a></li>
          <li><a href="logout">Log Out</a></li>
        </ul>
      </nav>
      <h1><%=shopName%> Ingredient Item - Please Update :</h1>
        <form action="/foodList" method="GET">
            <label for="ingred_name">Food Name :</label>
            <input type="text" value="<%=availableIngredients[0].ingred_name%>" 
            id="ingred_name :" name="ingred_name" size="30" required><br><br>
            <label for="value_per">Value per :</label>
            <input type="number" value="<%=availableIngredients[0].value_per%>"
            id="value_per" name="value_per" type="number" step="0.01" required>
            <label for="unit">Unit :</label>
            <select name="unit">
                <option value="g">g</option>
                <option value="kg">kg</option>
                <option value="ml">ml</option>
                <option value="l">l</option>
                <option value="unit">unit</option>
            </select>
            <label for="carbs">Carbs :</label>
            <input type="number" value="<%=availableIngredients[0].carbs%>"
            id="carbs" name="carbs" required>
            <label for="fats">Fats :</label>
            <input type="number" value="<%=availableIngredients[0].fats%>"
            id="fats" name="fats" required>
            <label for="protein">Protein :</label>
            <input type="number" value="<%=availableIngredients[0].protein%>"
            id="protein" name="protein" required>
            <label for="salt">Salt :</label>
            <input type="number" value="<%=availableIngredients[0].salt%>"
            id="salt" name="salt" required>
            <label for="sugar">Sugar :</label>
            <input type="number" value="<%=availableIngredients[0].sugar%>"
            id="sugar" name="sugar" required><br><br>
            <input type="submit" value="Update Food">
        </form>
  </body>
</html>
